@import url('../../HomeCommonVariables.module.less');
@import url('../../HomeCommon.module.less');

.HomeFeatureContainer:extend(.HomeSectionContainer) {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: var(--primary-color-bg-color);
}

.FeatureRow {
  &:global {
    &.ant-row {
      margin: 0 !important;
    }
  }
}

.FeatureCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FeatureContainer {
  max-width: @home-block-max-width;
  padding: 20px;
  background-color: var(--layout-body-background);
  border-radius: @border-radius-large;
  box-shadow: 0 1px 1px var(--primary-color-bg-color-shadow), 0 2px 2px var(--primary-color-bg-color-shadow),
    0 4px 4px var(--primary-color-bg-color-shadow), 0 8px 8px var(--primary-color-bg-color-shadow),
    0 16px 16px var(--primary-color-bg-color-shadow), 0 32px 32px var(--primary-color-bg-color-shadow);
}

.FeatureIcon {
  margin-bottom: 20px;
  color: lighten(@primary-color, 10%);
  font-size: 50px;
}

.FeatureDescription {
  text-align: left;

  strong {
    .HomeGradientText;
  }
}

.FeatureTitle {
  font-weight: 600;
  font-size: 20px;
}
