@import url('../../HomeCommonVariables.module.less');
@import url('../../HomeCommon.module.less');

.FeatureRow {
  &:global {
    &.ant-row {
      margin: 0 !important;
    }
  }
}

.FeatureCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FeatureContainer {
  max-width: @home-block-max-width;
  height: 100%;
  margin-bottom: 32px;
  padding: 40px 25px;
  text-align: center;
  background-color: var(--layout-body-background);
  border-radius: @border-radius-x-large;
  box-shadow: 0 1px 1px var(--primary-color-bg-color-shadow), 0 2px 2px var(--primary-color-bg-color-shadow),
    0 4px 4px var(--primary-color-bg-color-shadow), 0 8px 8px var(--primary-color-bg-color-shadow),
    0 16px 16px var(--primary-color-bg-color-shadow), 0 32px 32px var(--primary-color-bg-color-shadow);
}

.FeatureIcon {
  margin-bottom: 20px;
  color: lighten(@primary-color, 10%);
  font-size: 45px;
}

.FeatureIconHabit {
  animation: jelly 2s ease 0s infinite;
}

.FeatureIconGratitude {
  animation: pulse 2s ease 0s infinite;
}

.FeatureIconFriends {
  animation: wobble 2s ease 0s infinite;
}

.FeatureDescription {
  font-size: 18px;
  text-align: left;

  strong {
    .HomeGradientText;
  }
}

.FeatureTitle {
  margin-bottom: 30px;
  color: lighten(@primary-color, 10%);
  font-weight: 600;
  font-size: 22px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.81);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.9);
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.77);
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes jelly {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}