@import url('../../HomeCommonVariables.module.less');

.Carousel {
  width: min(100vw, @home-block-max-width);
}

.QuoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 450px;
  margin: 0 20px;
  padding: 30px 30px 50px;
  font-size: @home-base-text-size;
  line-height: 1.5715;
  background-color: var(--primary-color-bg-color);
  border-radius: @border-radius-x-large;
}

.QuoteMark {
  color: var(--light-primary-color-bg-color);
  font-size: 35px;
}

.CarouselDots {
  :global {
    li button {
      width: 14px !important;
      height: 14px !important;
      background-color: @secondary-color !important;
      border-radius: 50% !important;
    }
  }
}
