@set: {
  default: @default-picker-color;
  red: @red-picker-color;
  fuchsia: @fuchsia-picker-color;
  pink: @pink-picker-color;
  purple: @purple-picker-color;
  blue: @blue-picker-color;
  navy: @navy-picker-color;
  green: @green-picker-color;
  olive: @olive-picker-color;
  yellow: @yellow-picker-color;
  orange: @orange-picker-color;
  brown: @brown-picker-color;
  gray: @gray-picker-color;
  skipped: @coral-color;
};

.react-calendar-heatmap {
  each((@set), {
    .color-@{key} {
      fill: @value;
    } 
});
}

.react-calendar-heatmap .mark-today {
  stroke: @primary-color;
  stroke-width: 2px;

  &:hover {
    stroke: lighten(@primary-color, 10%);
    stroke-width: 2px;
  }
}
