.react-calendar-heatmap .color-default {
  fill: @default-picker-color;
}

.react-calendar-heatmap .color-red {
  fill: @red-picker-color;
}

.react-calendar-heatmap .color-green {
  fill: @green-picker-color;
}

.react-calendar-heatmap .color-purple {
  fill: @purple-picker-color;
}

.react-calendar-heatmap .color-brown {
  fill: @brown-picker-color;
}

.react-calendar-heatmap .color-lighten-default {
  fill: @lighten-default-picker-color;
}

.react-calendar-heatmap .color-lighten-red {
  fill: @lighten-red-picker-color;
}

.react-calendar-heatmap .color-lighten-green {
  fill: @lighten-green-picker-color;
}

.react-calendar-heatmap .color-lighten-purple {
  fill: @lighten-purple-picker-color;
}

.react-calendar-heatmap .color-lighten-brown {
  fill: @lighten-brown-picker-color;
}
