.LegendColor {
  width: 20px;
  height: 20px;
}

.LegendColorSkipped {
  width: 20px;
  height: 20px;
  background-color: @coral-color;
}

.LegendColorToday {
  width: 23px;
  height: 23px;
  border: 3px solid @primary-color;
}

.LegendContainer {
  display: flex;
  justify-content: flex-end;
}
