@import url('../../HomeCommonVariables.module.less');

.KanjiContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: min(90vw, @home-block-max-width);
  height: 300px;
  color: var(--light-text-color);
  background-position: center;
  border-radius: @border-radius-x-large;
}

.KanjiDivContainer {
  text-align: center;
}

.Kanji {
  font-size: 100px;
  font-family: 'Ma Shan Zheng', cursive;
}

.KanjiMeaning {
  font-size: @home-base-text-size;
  text-transform: lowercase;
}

.KaizenMeaningContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  width: min(90vw, @home-block-max-width);
  font-size: @home-base-text-size;
}
