@import '~antd/dist/antd.dark.less';

/* stylelint-disable at-rule-no-unknown */

:root {
  /* Background Colors */
  --header-bg-color: #18191a;
  --header-bg-color-hover: #393b3d;
  --layout-body-background: #121212;
}

/* stylelint-enable at-rule-no-unknown */
