body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: var(--layout-body-background) !important;
}

.Content {
  min-height: calc(100vh - @header-height - @footer-height) !important;
  margin-top: @header-height !important;
  padding: @content-padding-vertical 50px;
  background-color: var(--layout-body-background) !important;
}

@media (max-width: 767.98px) {
  .Content {
    padding: @content-padding-vertical 16px;
  }
}
