@colors: @primary-color, @turquoise-color, @coral-color, @straw-color;
@spinner-size-small: 18px;
@spinner-size-middle: 24px;
@spinner-size-large: 38px;
@dot-size-small: 3px;
@dot-size-middle: 4px;
@dot-size-large: 7px;

.Spinner {
  position: relative;
}

[class^='Dot_'] {
  position: absolute;
  transition: all 0.5s;
  animation: dotRotateTwoLaps 2s both infinite;
  transform-origin: 0 250% 0;
}

.SpinnerSmall {
  height: @spinner-size-small;
  width: @spinner-size-small;

  [class^='Dot_'] {
    left: calc(@spinner-size-small / 2);
    width: @dot-size-small;
    height: @dot-size-small;
    border-radius: @dot-size-middle;
  }
}

.SpinnerMiddle {
  height: @spinner-size-middle;
  width: @spinner-size-middle;

  [class^='Dot_'] {
    left: calc(@spinner-size-middle / 2);
    width: @dot-size-middle;
    height: @dot-size-middle;
    border-radius: @dot-size-middle;
  }
}

.SpinnerLarge {
  height: @spinner-size-large;
  width: @spinner-size-large;

  [class^='Dot_'] {
    left: calc(@spinner-size-large / 2);
    width: @dot-size-large;
    height: @dot-size-large;
    border-radius: @dot-size-large;
  }
}

@keyframes dotRotateTwoLaps {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360 * 2deg);
  }
}

.customize-dot(@index) when (@index > 0) {
  .Dot_@{index} {
    background-color: extract(@colors, @index);
    animation-timing-function: cubic-bezier(0.25, 0.3 * @index, 0.5, 1);
  }

  .customize-dot(@index - 1);
}

.customize-dot(4);
