@colors: @primary-color, @turquoise-color, @coral-color, @straw-color;
@spinner-size-small: 18px;
@spinner-size-middle: 24px;
@spinner-size-large: 38px;
@dot-size-small: 3px;
@dot-size-middle: 4px;
@dot-size-large: 7px;

.Spinner {
  position: relative;
}

[class^='Dot_'] {
  position: absolute;
  transform-origin: 0 250% 0;
  transition: all 0.5s;
  animation: dot-rotate-two-laps 2s both infinite;
}

.SpinnerSmall {
  width: @spinner-size-small;
  height: @spinner-size-small;

  [class^='Dot_'] {
    left: calc(@spinner-size-small / 2);
    width: @dot-size-small;
    height: @dot-size-small;
    border-radius: @dot-size-middle;
  }
}

.SpinnerMiddle {
  width: @spinner-size-middle;
  height: @spinner-size-middle;

  [class^='Dot_'] {
    left: calc(@spinner-size-middle / 2);
    width: @dot-size-middle;
    height: @dot-size-middle;
    border-radius: @dot-size-middle;
  }
}

.SpinnerLarge {
  width: @spinner-size-large;
  height: @spinner-size-large;

  [class^='Dot_'] {
    left: calc(@spinner-size-large / 2);
    width: @dot-size-large;
    height: @dot-size-large;
    border-radius: @dot-size-large;
  }
}

@keyframes dot-rotate-two-laps {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360 * 2deg);
  }
}

each(range(length(@colors)), {
  .Dot_@{value} {
    background-color: extract(@colors, @index);
    animation-timing-function: cubic-bezier(0.25, 0.3 * @index, 0.5, 1);
    }
});
