@gradientColors: #f28d77, #eb8078, #e27379, #d7677b, #cb5c7e, #bd5380, #ad4b82, #9c4484, #893f85, #743b85, #5c3884,
  #413582;
@homeHeaderGradient: radial-gradient(circle at 80% 10%, @gradientColors);
@homeEndingGradient: radial-gradient(circle at 10% 80%, @gradientColors);
@padding-horizontal: 20px;

.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - @header-height);
  min-height: 450px;
  padding: 30px;
  color: var(--light-text-color);
  text-align: center;
  background: @homeHeaderGradient;
}

.EndingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - @header-height - @footer-height);
  min-height: 200px;
  padding: 30px;
  color: var(--light-text-color);
  text-align: center;
  background: @homeEndingGradient;
}

.HeaderTitle {
  font-weight: 900;
  font-size: clamp(40px, min(10vw, 10vh), 90px);
  letter-spacing: 0.1em;
}

.HeaderSubtitle {
  margin-bottom: 40px;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.Kanji {
  font-size: 100px;
  font-family: 'Ma Shan Zheng', cursive;
}

.KanjiMeaning {
  text-transform: lowercase;
}

.ContentDiv {
  font-size: 17px;
  scroll-margin-top: @header-height;
}

.SectionHeaderTitle {
  font-size: 1.25em;
}

.SectionEndingTitle {
  margin-bottom: 10px;
  font-size: 1.7em;
}

.SectionSummaryText {
  margin-top: 20px;
  font-size: 1.25em;
}

.LogoImage {
  height: 200px;
}

.HeaderKaizenJourney {
  margin-bottom: 20px;
}

.SectionTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 @padding-horizontal;
}

.SectionDivider {
  margin: 50px 0;
}

.SectionFeatureContainer {
  padding: 50px @padding-horizontal;
  background-color: var(--primary-color-bg-color);

  &:global {
    &.ant-row {
      margin: 0 !important;
    }
  }
}

.FeatureContainer {
  text-align: center;
}

.FeatureIcon {
  margin-bottom: 20px;
  color: lighten(@primary-color, 10%);
  font-size: 50px;
}

.FeatureDescription {
  strong {
    color: lighten(@primary-color, 10%);
  }
}

.FeatureTitle {
  font-weight: 600;
  font-size: 20px;
}

.CarouselDots {
  :global {
    button {
      height: 10px !important;
      background-color: @primary-color !important;
    }
  }
}

.Carousel {
  width: min(100vw, 400px);
}

.QuoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 410px;
  margin: 0 20px;
  padding: 30px 30px 50px;
  background-color: var(--primary-color-bg-color);
  border-radius: @border-radius-large;
}

.QuoteMark {
  margin-bottom: 20px;
  font-size: 30px;
}

.QuoteText {
  margin-bottom: 20px;
  font-size: 1.2em;
}

@media (max-width: 767.98px) {
  .LogoImage {
    height: 150px;
  }
}
