@gradientColors: #f28d77, #eb8078, #e27379, #d7677b, #cb5c7e, #bd5380, #ad4b82, #9c4484, #893f85, #743b85, #5c3884,
  #413582;
@homeHeaderGradient: radial-gradient(circle at 80% 10%, @gradientColors);
@homeEndingGradient: radial-gradient(circle at 10% 80%, @gradientColors);

.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - @header-height);
  min-height: 450px;
  padding: 30px;
  color: var(--light-text-color);
  text-align: center;
  background: @homeHeaderGradient;
}

.EndingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - @header-height - @footer-height);
  min-height: 200px;
  padding: 30px;
  color: var(--light-text-color);
  text-align: center;
  background: @homeEndingGradient;
}

.HeaderTitle {
  font-weight: 900;
  font-size: clamp(40px, min(10vw, 10vh), 90px);
  letter-spacing: 0.1em;
}

.HeaderSubtitle {
  margin-bottom: 40px;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.ContentDiv {
  scroll-margin-top: @header-height;
}

.SectionEndingTitle {
  margin-bottom: 20px;
  font-size: 1.7em;
}

.LogoImage {
  height: 200px;
}

.HeaderKaizenJourney {
  margin-bottom: 20px;
}

.SectionDivider {
  margin: 50px 0;
}

.CarouselDots {
  :global {
    button {
      height: 10px !important;
      background-color: @primary-color !important;
    }
  }
}

@media (max-width: 767.98px) {
  .LogoImage {
    height: 150px;
  }
}
