@import url('./HomeCommonVariables.module.less');

.HomeSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 @home-padding-horizontal;
}

.HomeSectionTitle {
  font-size: 1.5em;
  text-align: center;
}

.HomeSectionDescription {
  margin-bottom: 30px;
  color: var(--gray-text-color);
  text-align: center;
}
