.HeaderContainer {
  height: calc(100vh - @header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeaderText {
  text-transform: uppercase;
  color: @white-color;
  letter-spacing: -0.05em;
  user-select: none;
  font-size: 20vh;
  transition: all 0.25s ease-out;

  @media (max-width: 576px) {
    font-size: 3em;
  }

  @media (max-width: 768px) {
    font-size: 5em;
  }

  @media (max-width: 992px) {
    font-size: 5em;
  }
}

.HeaderTextShadow {
  font-weight: 900;
  text-shadow: 3px 5px 1px @gradient-keppel-color, -4px -5px 1px @gradient-viola-color;
}

.HeaderTextAnimate {
  background-image: linear-gradient(
    45deg,
    @gradient-keppel-color 0%,
    @gradient-viola-color 29%,
    @gradient-japonica-color 67%,
    @gradient-confetti-color 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
