@import url('./HomeCommonVariables.module.less');

.HomeGradientText {
  background: linear-gradient(45deg, @gradient-colors);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.HomeContainerTwoSections {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

