.DropdownMenuItem {
  min-width: 180px !important;
  margin: 0 8px;
  padding: 8px !important;
  border-radius: @border-radius-small;
}

.DropdownMenuItemIcon {
  margin-left: 10px;
}

.DropdownOverlay {
  :global {
    .ant-dropdown-menu {
      padding: 8px 0;
    }

    .ant-dropdown-menu-item-group-list {
      margin: 0;
    }
  }
}
