.ListItem {
  margin-bottom: 16px;
  padding: 10px 16px !important;
  color: var(--layout-body-background) !important;
  border-radius: 20px;
}

.ListItemRow {
  width: 100%;
}

.Avatar {
  margin-right: 16px !important;
}

.Date {
  margin-right: 16px !important;
  text-align: center;
}

.SmallText {
  font-size: 10px;
  text-transform: uppercase;
}

.Title {
  color: var(--layout-body-background) !important;
}

.Description {
  color: var(--layout-body-background) !important;
}

.DropDownCol {
  text-align: right;
}

.Dropdown {
  margin-left: 16px;
}

.DropdownIconContainer {
  padding: 5px 10px;
  color: var(--layout-body-background) !important;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.DropdownMenuItem {
  width: 200px !important;
  padding: 16px 8px !important;
}

.DropdownMenuItemIcon {
  margin-left: 10px;
}

.Tag {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
